body {
  margin: 0;
  font-family:'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E0E0;
}

code {
  font-family: 'Avenir';
}

@font-face {
  font-family: Avenir;
  src: url('./fonts/Avenir\ Regular.ttf');
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  visibility: hidden;
}